.back_b{
    background-color: rgb(198, 223, 231) !important;
    width: 100% !important;
    height:100% !important;
    padding:20px !important;
    height:100% !important;

}
.text_pos{
    position:relative;
    top:0px;
    font-size: 200%;
    left:50px;
    font-weight: bold;
    color:#191970;
    text-shadow:1px 1px white ;
}

.text_pos1{
    position:relative;
    font-size:100%;
    left:100px;
    color:  #003366;
    width:160px;
    word-wrap:normal;
    font-weight:1000;
}
.text_pos2{
    position:relative;
    font-size:100%;
    left:200px;
    bottom:75px;
    color:  #003366;
    width:160px;
    word-wrap:normal;
    font-weight:normal;
    font-weight:1000;
    
}
.text_pos3{
    position:relative;
    font-size:100%;
    left:400px;
    bottom:150px;
    color:  #003366;
    width:160px;
    word-wrap:normal;
    
    font-weight:1000;
}
.text_pos4{
    position:relative;
    font-size:100%;
    left:100px;
     bottom:100px; 
    color:  #003366;
    width:160px;
    word-wrap:normal;
    font-weight:1000;
    
}

.text_pos5{
    position:relative;
    font-size:100%;
    left:200px;
     bottom:60px; 
    color:  #003366;
    width:160px;
    word-wrap:normal;
    
    font-weight:1000;
}

img.ui.huge.right.floated.image{
    margin-top:10px !important;
}
@media only screen and (max-width: 600px) {
    .text_pos{
        position:relative;
        top:0px;
        font-size: 125%;
        left:0px;
        font-weight: bold;
        color:#191970;
        text-shadow:1px 1px white ;
    }
    .text_pos1{
        position:relative;
        font-size:100%;
        left:0px;
        color:  #003366;
        width:150px;
        word-wrap:normal;
        font-weight:1000;
    }
    .text_pos2{
        position:relative;
        font-size:100%;
        left:170px;
        bottom:80px;
        color:  #003366;
        width:150px;
        word-wrap:normal;
        font-weight:1000;
           }
    .text_pos3{
        position:relative;
        font-size:100%;
        left:300px;
        bottom:150px;
        color:  #003366;
        width:150px;
        word-wrap:normal;
        font-weight:1000;
        
    }
    .text_pos4{
        position:relative;
        font-size:100%;
        left:0px;
         bottom:100px; 
        color:  #003366;
        width:160px;
        word-wrap:normal;
        font-weight:1000;
        
    }
    .text_pos5{
        position:relative;
        font-size:100%;
        left:170px;
         bottom:60px; 
        color:  #003366;
        width:160px;
        word-wrap:normal;
     
        font-weight:1000;
    }
    
    

  }