.img_a {
    position: relative;
    float: left;
   background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    margin:auto;
  display:block;
}

.coloring{
    background-color:lightblue !important;
    background-size: 100%;
    max-width:100%;
    max-height:100%;
    height:100% !important;
    z-index: -1;
}
button.slick-arrow.slick-next{
    background-color:black;
    display: block;
    bottom: 100px;
    top: 200px;
    width: 30px;
    height: 30px;

}
button{
    left:0px;
    right:50px;
    top:0px;
    z-index:1000px;
}
div.coloring{
    width: 100%;
    display: inline-block;
    height: 100%;
}

  
  .button3 {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    transition: 2s ease;
   
   margin-left:250px !important;

}

.small-btn {
    width: 110px;
    height:35px;
    
}

.position1{
   
    top:50px;
    left:150px;
    right:10px;
    color:rgb(46,134,193);
font-weight:bolder ;
}

.position2{
   color:rgb(93,109,126);
   word-wrap:normal;
   line-height: 1rem;

}
.newbutton{
    background-color: crimson;
    color: #FFFFFF;
    /* padding: 10px; */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* margin:10px; */
    transition:.5s ease;
    border-color:white;
    border-width:3px;
}
.newstyle{
    text-align:center
}
.lastslide1{
    position:absolute;
    top:75px;
    left:400px;
    font-size:3em;
    color:rgb(28, 184, 184);
    font-weight:bold;
}

.imglast{
    position:relative;
    max-width:100%;
    max-height:100%;
    height:100% !important;
}
.lastslide2{
    position:absolute;
    top:200px;
    left:180px;
    font-size:1.5em;
    color:rgb(113, 121, 121);
    font-weight:bold;
}
.button_size_lastslide{
    text-align:center !important;
    font-size:1em !important;
    width: 150px;
    height:40px;
}
