.text{
    text-decoration: none;
    font-weight: bold;
}

.text:hover{
    color:white;
}
.styling{
    list-style-type:none;
}
.center_text{
    text-align:center;
    color:rgb(0, 51, 102);
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px rgb(226, 75, 105);


}
.fix{
    max-width: 100%;
    max-height: 100%;
}

.box{
    margin: 0px;
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}

.noMargin{
    margin: 0px;
}

.btn-flat {
  
    color:rgb(76, 50, 182);
    border-width:3px;
    border-style: solid;
    background-color: white;
    border-radius: 20px;
    border-color:rgba(0,0,255,0.5);
    width:15%;
    margin-left :15px ;
    margin-right:15px;
  }
  .btn-flat:hover{
    background-color:rgb(162, 218, 239);
    color:white;
  }
  
  .btn-flat {
    padding: 0.2rem 0.3rem;
    font-size: 1.0rem;
  }